<!doctype html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inicio de Sesión</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/css/login.css"/>
    <link rel="stylesheet" th:href="@{/css/login.css}">


</head>

<body>
<header>
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark border-bottom" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="/">Spring Security</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item text-center">
                        <a class="nav-link" aria-current="page" href="/" th:text="#{navbar.home}"></a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" aria-current="page" href="/contact" th:text="#{navbar.contact}"></a>
                    </li>

                </ul>
            </div>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}" th:text="#{navbar.signup}"></a>
                </li>
            </ul>
            <form class="d-flex px-3" role="search">
                <input class="form-control me-2" type="search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit" th:text="#{navbar.search}"></button>
            </form>
            <form method="get" action="" class="d-inline">
                <select name="lang" onchange="this.form.submit()">
                    <option value="es" th:selected="${#locale.language == 'es'}">🇪🇸 Español</option>
                    <option value="en" th:selected="${#locale.language == 'en'}">🇬🇧 English</option>
                </select>
            </form>
        </div>
    </nav>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mx-auto form-container">
                <h1 th:text="#{login.title}"></h1>
                <hr />
                <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong th:text="#{login.message1}"></strong>
                </div>

                <div class="row">
                    <form method="post">
                        <div>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" th:text="#{login.email}"></label>
                            <input class="form-control" name="email">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" th:text="#{login.password}"></label>
                            <input class="form-control" type="password" name="password">
                        </div>
                        <br>
                        <div class="row btn1">
                            <div class="offset-sm-4 col-sm-4 d-grid">
                                <div class="col-d-grid">
                                    <button type="submit" class="btn btn-success" th:text="#{navbar.login}"></button>
                                </div>
                            </div>
                            <div class="col-sm-4 d-grid">
                                <div class="col-d-grid">
                                    <a href="/" class="btn btn-outline-primary" th:text="#{login.cancel}"></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>